@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

/*

KEERTHI VARDHAN

nav {

   1. h1 
   2. ul{

        1 . toggle
        2 .  nav items (....)
    
    }
}

main{

    goes till the questions ( .... is VC Funding drying up)


}

....
*/


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
body{
    background:  hsl(36, 100%, 99%);
    padding: 3rem;
    width: 100%;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-weight: 800;
    font-size: 3rem;
}

nav ul{
    display: flex;
    gap: 2rem;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;        /*How to set opacity without effecting the font or text color weight .....*/  
    font-weight: 700;
}

nav ul li a:hover{
    border-bottom: 0.1rem solid black;
    transform: scale(1.5);    
    transition: 1s;
    color: hsl(35, 77%, 62%);
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    background: rebeccapurple;
    text-align: right;
    color: #fff;
    display: none;
    /* height: 2rem; */
    font-size: 30px;
}
.main{
    display: flex;
    gap: 0.5rem;
}
.box1{
    min-width: 70%;
} 
.box1 img{
    width: 100%;
}
.box1Content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box1Content .box1ContentRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}
.box1Content .box1ContentRight button{
    width: 30%;
    padding: 0.3rem;
    border: none;
    background-color: hsl(35, 77%, 62%);
    border-radius: 0.3rem;
    color: white;
    font-weight: 600;
    padding-top: 0.3rem;
   min-height: 3rem;
    max-height: max-content;

}
.box1Content .box1ContentRight button:hover{
    background: white;
    border: 0.2rem solid hsl(35, 77%, 62%);
    color: black;
}
.box1Right{
    background: hsl(240, 100%, 5%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0.3rem;
}
.box1Right h1{
    color: hsl(35, 77%, 62%);
}
.box1Right div{
    border-bottom: 0.1rem solid hsl(233, 8%, 79%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.box1Right #last{
    border: none;
}
.box1Right div p{
    font-weight: 70;
}
.bottom{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}
.bottom .side p{
    font-weight: 80;
}
#togglebtn{
    display: none;
}
.menuitems{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
   font-size: 1.4rem;
   font-weight: 400;
}

#readbtn{
    transition: all 0.3s;
}

@media all and (max-width : 840px){

    body{
        overflow-x: hidden;
    }
 

    /*  what is the diffrence between background and background-color ,,, and visibility:hidden and display : none*/
    .menu{
        display: flex;
        flex-wrap: wrap;
        transition: all 0.4s;

        /* border: 2px solid red; */
    }
    .menuitems{
        display: none;
    }
    .menuitems:hover{
        /* border: 2px solid red; */
        transition: all 0.3s;
    }
    nav ul{
        transition: all 0.3s;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        /* top: 1.8rem; */
        padding: 1rem;
        position: fixed;
        height: 100vh;
        /* border: 2px solid red; */
        margin-top: 0;
        backdrop-filter: blur(2rem);
        /* background-color: hsl(40, 50%, 100%,9); */
        /* border: 2px solid red; */
        transition: all 0.4s;
       
    }
    .menuitems{
        display: none;
        margin-top: 3rem;
        color: black;
        transition: all 0.4s;
        /* transform: translateX(100%); */
    }
    #togglebtn{
        display: block;
        width: fit-content;
        border: none;
        background-color: transparent;
        position: absolute;
        margin: 1.8rem;
        right: 0;
        background-image: url(icon-menu.svg);
        width: 2rem;
        height: 2rem;
        background-repeat: no-repeat;
        transition: all 0.3s;
        transition-timing-function: ease-in-out;  
        margin-top: 3rem;


    }
    .box1Content h1{
        margin-right: 1rem;
    }
    .item{
        margin-top: 2rem;
    }
    .main{
        flex-direction: column;
    }
    .toggle button{
        width: 1.5rem;
        border: none;
        height: 20px;
    }
    #readbtn{
        width: 7rem;
        letter-spacing: 0.1rem;
        transition: all 0.3s;
    }

}